<%@ page import="java.sql.*,java.lang.String.*" %>

<%
String mensaje = request.getParameter("mensaje");
//String url = request.getParameter("url");
%>
<html>
<head>
<title>Citas</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<style>
form input {color:navy;font-weight:normal;background-color:#ECF4FC;border-color:#002751;}
form select {color:navy;font-weight:normal;background-color:#ECF4FC;border-color:#002751;}

</style>

<!--
body {scrollbar-arrow-color: #85D6FF; scrollbar-3dlight-color: #3399CC; scrollbar-highlight-color: #85D6FF; scrollbar-face-color: #4CB2E5; scrollbar-shadow-color: #3399CC; scrollbar-track-color: #85D6FF; scrollbar-darkshadow-color: #000033}</p>
-->

</head>

<body bgcolor="#6A8498" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td width="35%" background="imagenes/fondotitu_consul.jpg"><img src="imagenes/titu_consul.jpg" width="398" height="74"></td>
          <td width="65%" background="imagenes/fondotitu_consul.jpg"> 
            <div align="right"><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="350" height="40">
                <param name=movie value="menu_azul.swf">
                <param name=quality value=high>
                <embed src="menu_azul.swf" quality=high pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="350" height="40">
                </embed> 
              </object>&nbsp;&nbsp;</div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    
<td height="297" valign="top" bgcolor="#FFFFFF"> 
      
<div align="center"> 
        
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              
<td height="250"> 
                 
                  
<br>
<table cellspacing=0 cellpadding=0 width=404 
                              border=0 align="center">
                        <tbody> 
                        
<tr> 
                          
<td><img src="imagenes/linea_470%20copy.gif" width="470" height="3"></td>
</tr>
                        
<tr> 
                          
<td valign=center align=middle height="83" class="labels"> 
                            
<div align="center"></div>
<p align="center"><font face="Verdana, Arial, Helvetica, sans-serif" color="#990000"><b><font color="#660000">


           			<%=mensaje%>.

				<br>
                              </font></b></font><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#333333">Gracias</font></b></p>
</td>
</tr>
                        
<tr> 
                          
<td height="2"><img src="imagenes/linea_470%20copy.gif" width="470" height="3"></td>
</tr>
                        
<tr> 
                          
<td class=linksamarillo width=401 align="right"> 
<div align="center"><a href="loginPacientes.jsp"><img src="imagenes/bt_seguir.jpg" width="73" height="20" border="0"></a></div>
</td>
</tr>
                        </tbody> 
                      
</table>
</table>
<div align="right"><img src="imagenes/logo_salud.jpg" width="290" height="29">&nbsp;</div>
</div>
</td>
            </tr>
          </table>
          
<div align="right"></div>
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#6A8498">
  <tr> 
    <td height="13" valign="top" bgcolor="#6A8498" background="imagenes/fondo_pie.jpg"><img src="imagenes/fondo_pie.jpg" width="15" height="28"></td>
  </tr>
</table>
</body>
</html>
