.labelAzul {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000099}
.dataBold {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #333333}
.databoldbg {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bolder; color: #000000}
.dataligh333 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #333333}
